// Colors
$violeta: #ae3e97;
$naranja: #ff8403;
$verde: #00904c;
$azulClaro: #5ac1dd;
$verdeAzul: #004884;
$azulClarito: #00aeef;
$azulGov: #3366cc;
$azulOscuroGov: #004884;
$grisClaro: #f4f4f4;
$gris: #909090;
$negroTexto: #1e1e1e;
$negro: #000000;
